body {
   background-image: url("../images/bg-2.png");
   margin: 0 auto;
   max-width: 1140px;
   width: 100%;
}

  ul {
  list-style-type: none;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .clearfix{
  clear:both;
  }

  #header{
  background-color: #e05839;
  overflow: hidden;
  padding: 5px;
  box-sizing: border-box;
  }

  #header img{
  float:left;
  padding-top:7px;
  padding-left: 10px;
  }

  #header #navegador .items-navegador li{
  padding-right: 20px;
  float: left;
  }

  #header #navegador .items-navegador li a{
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  }

#header #navegador .items-navegador li a:hover{
font-weight: bold;
}

#main{
overflow: hidden;
margin-top:30px;
}

#main-smartphones {
box-sizing: border-box;
padding: 10px 10px 0px 10px;
background-color: #fff;
width: 70%;
max-width: 800px;
float: left;
border: 0.1px #A6CDCA solid;
}

#main #main-smartphones .smart-card {
width: 385px;
margin-bottom:20px;
}

#main #main-smartphones .smart-card img{
width: 385px;
}

#main #main-smartphones .smart-info h2 {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

#main #main-smartphones .smart-info p {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

#main #main-smartphones .smart-info a {
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #e05839;
  border: 0.1px solid #B63519;
  padding: 5px;
  }

  #main #main-smartphones .smart-info a:hover {
    background-color: #E53A1C;
  }

aside{
overflow: hidden;
}

.aside h2{
font-family: Helvetica, sans-serif;
font-size: 22px;
width: 320px;
background-color: #fff;
margin-top:0;
padding:5px;
box-sizing: border-box;
border: 0.1px #A6CDCA solid;
}

.tutoriales{
width: 320px;
background-color: #fff;
}

.tutoriales .card-tutoriales{
overflow: hidden;
border: 0.1px #A6CDCA solid;
padding:10px;
}

.tutoriales .card-tutoriales h4{
width: 150px;
font-family: Helvetica, sans-serif;
font-size: 14px;
margin-right: 20px;
}
